
@font-face {
    font-family: 'moderna';
    src: url('./moderna_-webfont.woff2') format('woff2'),
         url('./moderna_-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}